
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title><%=title%></title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="stylesheets/bootstrap-switch.css">
    <link rel="stylesheet" href="stylesheets/codemirror.css">
  	<script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="lib/codemirror.js"></script>
    <script src="addon/edit/matchbrackets.js"></script>
    <script src="addon/edit/continuecomment.js"></script>
    <script src="addon/comment/comment.js"></script>
    <script src="javascripts/javascript.js"></script>
    <script src="javascripts/bootstrap-switch.js"></script>
    <style type="text/css">
      .CodeMirror { border-top: 1px solid black; 
                    border-bottom: 1px solid black;} 
    	div.row {margin-bottom:20px;}
    </style>
  </head>
	 <body>
	  <div class="container">
	    <div class="page-header">
	      <h1 class="text-muted"><%=name%></h1>
	      	<div style="margin-top:10px;padding:5px;position:relative;bottom:5px;">
	        <button type="button" class="btn btn-default ">RUN</button>&nbsp;<button type="button" class="btn btn-default ">INSTALL</button>&nbsp;              
	        <div class="make-switch"><input type="checkbox" class="form-group-lg"></div>
	        </div>
	    </div>
	    <div class="row">
	      <div class="col-md-4">
	          <div class="pull-left">
	            <a href=http://<%=name%>.cfapps.io><img src=<%=screenshot%>></a>
	          </div>
	      </div>
	      <div class="col-md-6">
	        <fieldset>
	          <label><%=description%></label>
	         </fieldset>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-10 tabbable">
	        <ul id="sourceTabs" class="nav nav-tabs" data-tabs="tabs">
	          <li class="active"><a href="#readme" data-toggle="tab">README</a></li>
	          <li><a href="#server" data-toggle="tab">Server</a></li>
	          <li><a href="#client" data-toggle="tab">Client</a></li>
	          <li><a href="#manifest" data-toggle="tab">Manifest</a></li>
	          <li><a href="#console" data-toggle="tab">Console</a></li>
	        </ul>
	        <div class="tab-content">
	          <div class="tab-pane active" id="server">
	            <textarea id="server_code" name="server_code" style="display: none; ">
	            </textarea>
	        </div>
	        <div class="tab-pane" id="client">
	          <textarea id="client_code" name="client_code" style="display: none; ">
	          </textarea>
	        </div>
	        <div class="tab-pane" id="manifest">
	          <textarea id="manifest_code" name="manifest_code" style="display: none; ">
	          </textarea>
	        </div>
	        <div class="tab-pane" id="readme">
	        </div> 
	      	<div class="tab-pane" id="console">
	      		CONSOLE OUTPUT
	    		</div>
	  	</div>                    
		</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
<!-- script type="text/javascript" src="/javascripts/gauge.js"></script-->

<script>
  var editor = [];
  editor["server"] = CodeMirror.fromTextArea(document.getElementById("server_code"), {
    lineNumbers: true,
    matchBrackets: true,
    continueComments: "Enter",
    extraKeys: {"Ctrl-Q": "toggleComment"}
  });

  editor["client"] = CodeMirror.fromTextArea(document.getElementById("client_code"), {
    lineNumbers: true,
    matchBrackets: true,
    continueComments: "Enter",
    extraKeys: {"Ctrl-Q": "toggleComment"}
  });

  editor["manifest"] = CodeMirror.fromTextArea(document.getElementById("manifest_code"), {
    lineNumbers: true,
    matchBrackets: true,
    continueComments: "Enter",
    extraKeys: {"Ctrl-Q": "toggleComment"}
  });
</script>

  <script>
  $(function () 
  {
     $('#sourceTabs a:last').tab('show');
  })
	</script>
	<style id="_clearly_component__css" type="text/css">#next_pages_container { width: 5px; hight: 5px; position: absolute; top: -100px; left: -100px; z-index: 2147483647 !important; } 
	</style>
 </body>
</html>