<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Driblet Launchpad</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/codemirror.css">
  	<script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/codemirror.js"></script>
    <script src="/javascripts/addon/edit/matchbrackets.js"></script>
    <script src="/javascripts/addon/edit/continuecomment.js"></script>
    <script src="/javascripts/addon/comment/comment.js"></script>
    <script src="/javascripts/javascript.js"></script>
    <style type="text/css">
      .CodeMirror { border-top: 1px solid black; 
                    border-bottom: 1px solid black;} 
            
     .screenshot { margin-right:10px;} 
            
    </style>
  </head>
	 <body background=#eee>
	  <div class="container">
	    <div class="page-header">
	      <h1 class="text-muted"><%=name%></h1>
	      	<div style="margin-top:10px;padding:5px;position:relative;bottom:5px;">
	    		<% if (edit) { %>

	        <a href="/pushandgo" class="btn btn-default ">RUN</a>


	    		<% } else { %>

					<a href="/edit/<%=git%>" class="btn btn-default ">EDIT</a>
	        &nbsp;<a href="<%=git%>" class="btn btn-default ">VIEW SOURCE</a>

	    		<% } %>

	        </div>
	    </div>
	    <div class="row">
	      <div class="col-md-12">
	          <div class="pull-left btn btn-default screenshot">
	            <a href="<%=homepage%>"><img border=1 src=<%=screenshot%>></a>
	          </div>
	      </div>
	      <div class="col-md-12">
	        <fieldset style="border-left:3px;">
	          <label><%=description%></label>
	          <div><%=readme%></div>
	         </fieldset>
	      </div>
	    </div>
	    <hr>
	    <% if (edit) { %>
	    <div class="row" id=push>
	      <div class="col-md-12 tabbable">
	        <ul id="sourceTabs" class="nav nav-tabs" data-tabs="tabs">
	          <li class="active"><a href="#server" data-toggle="tab">Server</a></li>
	          <li><a href="#client" data-toggle="tab">Client</a></li>
	          <li><a href="#manifest" data-toggle="tab">Manifest</a></li>
	          <li><a href="#console" data-toggle="tab">Console</a></li>
	        </ul>
	        <div class="tab-content" style="padding:5px">
          	<div class="tab-pane active" id="server">
	            <textarea id="server_code" name="server_code" style="display: none; "><%=appjs%>
	            </textarea>
	        	</div>
	        	<div class="tab-pane" id="client">
	          	<textarea id="client_code" name="client_code" style="display: none; "><%=indexejs%>
	          	</textarea>
	        	</div>
	        	<div class="tab-pane" id="manifest">
	          	<textarea id="manifest_code" name="manifest_code" style="display: none; "><%=manifest%>
	          	</textarea>
	        	</div>
		      	<div class="tab-pane" id="console">
	      			CONSOLE OUTPUT
	    			</div>
	    		</div>
	  		</div>                    
	  	</div>
	    <% } %>



		</div>
<% if (edit) { %>
<script>

  var editor = [];

 	editor["server"] = CodeMirror.fromTextArea(document.getElementById("server_code"), {
    lineNumbers: true,
    matchBrackets: true,
    continueComments: "Enter",
    extraKeys: {"Ctrl-Q": "toggleComment"}
  });

  editor["client"] = CodeMirror.fromTextArea(document.getElementById("client_code"), {
    lineNumbers: true,
    matchBrackets: true,
    continueComments: "Enter",
    extraKeys: {"Ctrl-Q": "toggleComment"}
  });

  editor["manifest"] = CodeMirror.fromTextArea(document.getElementById("manifest_code"), {
    lineNumbers: true,
    matchBrackets: true,
    continueComments: "Enter",
    extraKeys: {"Ctrl-Q": "toggleComment"}
  });

</script>
<script>
  $(function () 
  {
   	//$('#sourceTabs a:last').tab('show');
   	$('#sourceTabs').tab('show');
  })
</script>
<% } %>

<!--
	 		<% if (!user) { %>
			<a href="/">Home</a> | 
			<a href="/github-login">Github Log In</a> | 
		<% } else { %>
			<a href="/github-account">Github Account</a> | 
			<a href="/github-logout">Github Log Out</a>
		<% } %>


		 	<% if (!cfuser) { %>
			 || 
			<a href="/cloudfoundry-login">Cloudfoundry Log In</a> | 
		<% } else { %>
			<a href="/cloudfoundry-logout">Cloudfoundry Log Out</a>
		<% } %>
	
			</p>

-->
 </body>
</html>